Tutorial4Client/xml-resources/web-service-references/Tutorial4WebService/wsdl/localhost_8080/Tutorial4/Tutorial4WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="Tutorial4WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/Tutorial4/Tutorial4WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="substractExceptions">
<part name="parameters" element="tns:substractExceptions"/>
</message>
<message name="substractExceptionsResponse">
<part name="parameters" element="tns:substractExceptionsResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="addExceptions">
<part name="parameters" element="tns:addExceptions"/>
</message>
<message name="addExceptionsResponse">
<part name="parameters" element="tns:addExceptionsResponse"/>
</message>
<message name="addArrays">
<part name="parameters" element="tns:addArrays"/>
</message>
<message name="addArraysResponse">
<part name="parameters" element="tns:addArraysResponse"/>
</message>
<message name="substract">
<part name="parameters" element="tns:substract"/>
</message>
<message name="substractResponse">
<part name="parameters" element="tns:substractResponse"/>
</message>
<message name="divideExceptions">
<part name="parameters" element="tns:divideExceptions"/>
</message>
<message name="divideExceptionsResponse">
<part name="parameters" element="tns:divideExceptionsResponse"/>
</message>
<message name="multiplyExceptions">
<part name="parameters" element="tns:multiplyExceptions"/>
</message>
<message name="multiplyExceptionsResponse">
<part name="parameters" element="tns:multiplyExceptionsResponse"/>
</message>
<portType name="Tutorial4WebService">
<operation name="add">
<input wsam:Action="http://server/Tutorial4WebService/addRequest" message="tns:add"/>
<output wsam:Action="http://server/Tutorial4WebService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="divide">
<input wsam:Action="http://server/Tutorial4WebService/divideRequest" message="tns:divide"/>
<output wsam:Action="http://server/Tutorial4WebService/divideResponse" message="tns:divideResponse"/>
</operation>
<operation name="substractExceptions">
<input wsam:Action="http://server/Tutorial4WebService/substractExceptionsRequest" message="tns:substractExceptions"/>
<output wsam:Action="http://server/Tutorial4WebService/substractExceptionsResponse" message="tns:substractExceptionsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial4WebService/substractExceptions/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/Tutorial4WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/Tutorial4WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://server/Tutorial4WebService/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://server/Tutorial4WebService/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/Tutorial4WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/Tutorial4WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="addExceptions">
<input wsam:Action="http://server/Tutorial4WebService/addExceptionsRequest" message="tns:addExceptions"/>
<output wsam:Action="http://server/Tutorial4WebService/addExceptionsResponse" message="tns:addExceptionsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial4WebService/addExceptions/Fault/Exception"/>
</operation>
<operation name="addArrays">
<input wsam:Action="http://server/Tutorial4WebService/addArraysRequest" message="tns:addArrays"/>
<output wsam:Action="http://server/Tutorial4WebService/addArraysResponse" message="tns:addArraysResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial4WebService/addArrays/Fault/Exception"/>
</operation>
<operation name="substract">
<input wsam:Action="http://server/Tutorial4WebService/substractRequest" message="tns:substract"/>
<output wsam:Action="http://server/Tutorial4WebService/substractResponse" message="tns:substractResponse"/>
</operation>
<operation name="divideExceptions">
<input wsam:Action="http://server/Tutorial4WebService/divideExceptionsRequest" message="tns:divideExceptions"/>
<output wsam:Action="http://server/Tutorial4WebService/divideExceptionsResponse" message="tns:divideExceptionsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial4WebService/divideExceptions/Fault/Exception"/>
</operation>
<operation name="multiplyExceptions">
<input wsam:Action="http://server/Tutorial4WebService/multiplyExceptionsRequest" message="tns:multiplyExceptions"/>
<output wsam:Action="http://server/Tutorial4WebService/multiplyExceptionsResponse" message="tns:multiplyExceptionsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial4WebService/multiplyExceptions/Fault/Exception"/>
</operation>
</portType>
<binding name="Tutorial4WebServicePortBinding" type="tns:Tutorial4WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="substractExceptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addExceptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addArrays">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="substract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divideExceptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="multiplyExceptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Tutorial4WebService">
<port name="Tutorial4WebServicePort" binding="tns:Tutorial4WebServicePortBinding">
<soap:address location="http://localhost:8080/Tutorial4/Tutorial4WebService"/>
</port>
</service>
</definitions>